.body-background {
    height: 70vh;
    background-color: var(--primary-color);
    text-align: center;
}

.turn-indicator {
    margin: 0;
    padding: 1vh 0;
}

#board {
    margin-left: auto;
    margin-right: auto;
    font-size: 10vh;
    padding: 4vh;
}

td {
    border: 1px solid;
    text-align: center;
    padding: 0 3vw;
    width: 6vw;
}