:root {
    --current-theme: 0;
    --primary-color: #404040;
    --secondary-color: #656565;
    --accent-color: #8181C1;
    --text-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

header {
    background: linear-gradient(var(--primary-color), var(--accent-color));
    height: 15vh;
    padding: 0 10vw;
}

.header-logo {
    height: 11vh;
    padding-top: 2vh;
}

.intro-section {
    background-color: var(--primary-color);
    height: 55vh;
    padding: 0 15vw;
    text-align: center;
}

.counter-section {
    background-color: var(--secondary-color);
    height: 30vh;

}

.problem-counters {
    display: table;
    margin: 0 auto;
}

.counter {
    position: relative;
    background-color: var(--accent-color);
    height: 25vh;
    width: 15vw;
    margin: -5vh 4vw;
    display: inline-block;
    border: 5px solid var(--secondary-color);
    border-radius: 2vw;
}

.counter-text {
    position: relative;
    text-align: center;
}

.counter h1 {
    margin: 3vh 0;
    font-size: 10vh;
}

.counter p {
    font-size: 2vh;
}

.theme-change-button {
    color: var(--text-color);
    float: right;
    cursor: pointer;
}

.bw-img {
    filter: invert(100%);
}

.theme-logo {
    content: url("../images/sun.png");
    height: 7vh;
    padding-top: 4vh;
}

.leetcode-logo {
    position: relative;
    height: 25vh;
    top: 2vh;
}